<html>
<center><h1>DreamTech</h1></center>
<center><h3> ~ The Sky Is Just The Beginning ~ </h3></center>
<br>
<body>
<br>
<h4>Login to Your Profile</h4>
<br>
</body>

<form method="POST" action="/login">
    Name: <input type="text" name="name" /><br />
    Password: <input type="password" name="password" /><br />
    <input type="submit">
</form>
</html>