<h1>Login to Plant Your Seeds!</h1>

<form method="POST" action="/login">
    Name: <input type="text" name="name" /><br />
    Password: <input type="password" name="password" /><br />
    <input type="submit">
</form>