<html>
<center><h1>DreamTech</h1></center>
<center><h3> ~ The Sky Is Just The Beginning ~ </h3></center>
<br>
<body>
<br>
<h3>Cannabis Plant Information for <%= @cannabis_plant.strain %>:</h3>
<h3>Number of Seeds: <%= @cannabis_plant.number_of_cannabis_seeds %></h3>
</body>
<div>
<p>Would you like to delete this cannabis plant?</p>
<div>
<form method="POST" action="/ cannabis_plants/<%=@cannabis_plant.id%>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>
</html>