<h1>Build Your Grow Room</h1>
<form method="POST" action="/dreamtech_cannabis_productions_networks">

    <select name="user_id">
        <% @users.each do |user| %>
            <option value="<%= user.id%>"> <%= user.name %> </option>
        <% end %>
    </select>

<h3>Grow Room ID: <input type="text" name="grow_room_id"></h3>
<input type="submit">
</form>