<h1>Sign Up to Plant Your Crops - We'll Do The Rest Of The Work</h1>

<form method="POST" action="/users">
    
    Name: <input type="text" name="name" /><br />

    Email: <input type="text" name="email" /><br />

    Password: <input type="password" name="password" /><br />

    <input type="submit" value="Sign Up">
</form>