<html>
    <center><h1>DreamTech</h1></center>
    <center><h3> ~ The Sky Is Just The Beginning ~ </h3></center>
    <br>
    <body>
        <br>
        <h4>Sign Up to Take Your Cannabis Production to the Next Level</h4>
        <br>
    </body>

<form method="POST" action='/users'>
    
    <label>Name: </label><input type="text" name="name"><br />

    <label>Email: </label><input type="text" name="email"><br/>

    <label>Address: </label><input type="text" name="address"><br/> 
  
    <label>Password: </label><input type="password" name="password">
    <br>
    <br>
    <input type="submit" value="Sign Up">
</form>
<br>
<br>
<div>
<p>Already have an account? <a href="/login">click here to login</a> with DreamTech!</p>
</div>
</html>