<h1>Edit Your Cannabis Plant</h1>
<form method="POST" action="/dreamtech_cannabis_productions_networks/<%= @dreamtech_cannabis_productions_network.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

<select name="user_id">
    <% @users.each do |user| %>
        <option value="<%= user.id%>"> <%= user.name %> </option>
    <% end %>
</select>
<h3>Cannabis ID: <input type="text" name="cannabis_id" value="@dreamtech_cannabis_productions_network.cannabis_id"></h3>
<input type="submit">
</form>