<h1>Here is your Cannabis Plant</h1>

<% @dreamtech_cannabis_productions_network.each do |dreamtech_cannabis_productions_network| %>
    <h2><a href="dreamtech_cannabis_productions_networks/<%=dreamtech_cannabis_productions_network.id%>"><%= dreamtech_cannabis_productions_network.cannabis_id %></a></h2>
<% end%>