<h1>Plant Your Cannabis Seeds</h1>
<form method="POST" action="/dreamtech_cannabis_productions_networks">

    <select name="user_id">
        <% @users.each do |user| %>
            <option value="<%= user.id%>"> <%= user.name %> </option>
        <% end %>
    </select>

<h3>Cannabis ID: <input type="text" name="cannabis_id"></h3>
<input type="submit">
</form>

